.shower,
.slide h2 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

.slide h2 {
  color: #404040;
}

input[type=range]{
  -webkit-appearance: none;
  display: inline-block;
  width: 300px;
}

input[type=range][hidden] {
  display: none;
}

input[type=range]::-webkit-slider-runnable-track {
  display: inline-block;
  width: 300px;
  height: 20px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -15px;
}

.canvas-perf h2 {
  bottom: 50px !important;
  color:#fff;
  margin-left: 150px;
  background: #000;
  padding: .2em .6em;
}

.canvas-perf h3 {
  color: #fff;
  background: #000;
  padding: .2em .6em;
  margin-top: 80px;
}

.heart {
  color: red;
}
